language: ruby
cache:
- bundler
install:
- bundle install
rvm:
- 2.0
- 2.1
- 2.2
- 2.3.0
- 2.4.1
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake default
- gem build sensu-plugins-rspec.gemspec
- gem install sensu-plugins-rspec-*.gem
deploy:
  provider: rubygems
  api_key:
    secure: AYgDVEqqT4fU2NLdz5HGn1wKX4fR82yuPWy9B5wv3E2KznCVMPMUYgcUwcIET53T3kt6LP5VMK5l3VumBa143j+9EL1wlv6uUsp1BHERr1hK/ahxMmT9+G32O11sWbNIPbsVb68ZhgRisI3ouLAZTMyO5/EdHYli1DygZPR/v3A=
  gem: sensu-plugins-rspec
  on:
    tags: true
    all_branches: true
    rvm: 1.9.3
    rvm: 2.0
    rvm: 2.1
    rvm: 2.2
    rvm: 2.3.0
    rvm: 2.4.1
    repo: sensu-plugins/sensu-plugins-rspec
